{% extends 'base.html' %}

{% load projects %}
{% load static %}
{% load duration %}

{% block title %}Проекты{% endblock title %}

{% block content %}
    <div class="container-fluid main-content alert">
        <div class="row justify-content-center">
            <h1 class="text-center">Проекты</h1>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="container-fluid main-content form">
        {% if form.errors %}
            {% for error in form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{ error }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <form class="row activities-form form-inline" name="add_project">
            {% csrf_token %}
            <div class="col-lg-8 form-group">
                {{ form.title }}
            </div>
            <div class="col-lg-2 form-group">
                {{ form.activity }}
            </div>
            <div class="col-lg-2 form-group">
                <button type="submit" class="btn btn-lg btn-outline-success">Добавить</button>
            </div>
        </form>

    </div>

    <div class="container-fluid main-content table-content">
        <div class="modal fade" id="project-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Проект</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row mb-3">
                                <label for="{{ change_form.title.id_form_label }}" class="col-sm-4 col-form-label">
                                    {{ change_form.title.label }}
                                </label>
                                <div class="col-sm-8">
                                    {{ change_form.title }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ change_form.activity.id_form_label }}" class="col-sm-4 col-form-label">
                                    {{ change_form.activity.label }}
                                </label>
                                <div class="col-sm-8">
                                    {{ change_form.activity }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ change_form.status.id_form_label }}" class="col-sm-4 col-form-label">
                                    {{ change_form.status.label }}
                                </label>
                                <div class="col-sm-8">
                                    {{ change_form.status }}
                                </div>
                            </div>
                            <input type="hidden" name="project_id" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-action="delete">Удалить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="margin-left: auto;">Закрыть</button>
                        <button type="button" class="btn btn-primary" data-action="patch">Сохранить</button>
                    </div>
                </div>
          </div>
        </div>
        <table class="table projects-table">
            <thead class="table-light">
                <tr>
                    {% for field in fields %}
                        <th scope="col">{{ field.verbose_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr data-project_id="{{ project.id }}"
                        data-activity="{{ project.activity }}"
                        data-title="{{ project.title }}"
                        data-status="{{ project.status }}"
                        data-bs-toggle="modal"
                        data-bs-target="#project-modal"
                    >
                        <td>{{ project.title }}</td>
                        <td>{{ project.status|status }}</td>
                        <td>
                            {% if project.activity %}
                                {{ project.activity }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ project.total_time|duration_time_format }}</td>
                        <td>{{ project.created|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td>
                            {% if project.finished %}
                                {{ project.finished|date:"SHORT_DATETIME_FORMAT" }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            {{ html_pagination }}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/projects.js' %}"></script>
{% endblock scripts %}
