{% extends 'base.html' %}

{% load projects %}
{% load static %}

{% block title %}Проекты{% endblock title %}

{% block content %}
    <div class="container-fluid main-content alert">
        <div class="row justify-content-center">
            <h1 class="text-center">Проекты</h1>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="container-fluid main-content form">
        {% if form.errors %}
            {% for error in form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{ error }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <form class="row activities-form form-inline" name="add_project">
            {% csrf_token %}
            <div class="col-lg-8 form-group">
                {{ form.title }}
            </div>
            <div class="col-lg-2 form-group">
                {{ form.activity }}
            </div>
            <div class="col-lg-2 form-group">
                <button type="submit" class="btn btn-lg btn-outline-success">Добавить</button>
            </div>
        </form>

    </div>

    <div class="container-fluid main-content table-content">
        <table class="table projects-table">
            <thead class="table-light">
                <tr>
                    {% for field in fields %}
                        <th scope="col">{{ field.verbose_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.title }}</td>
                        <td>{{ project.status|status }}</td>
                        <td>
                            {% if project.activity %}
                                {{ project.activity }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ project.total_time }}</td>
                        <td>{{ project.created|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td>
                            {% if project.finished %}
                                {{ project.finished|date:"SHORT_DATETIME_FORMAT" }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            {{ html_pagination }}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/projects.js' %}"></script>
{% endblock scripts %}
