{% extends 'base.html' %}

{% load static %}

{% block title %}Задачи{% endblock title %}

{% block content %}
    <div class="container-fluid main-content alert">
        <div class="row justify-content-center">
            <h1 class="text-center">Задачи</h1>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="container-fluid main-content form">
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% for value in form.errors.values %}
                    {% autoescape off %}
                        {{ value }}
                    {% endautoescape %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <form class="row activities-form form-inline justify-content-center" name="add_task_form">
            {% csrf_token %}
            <div class="col-xl-4 form-group">
                {{ form.title }}
            </div>
            <div class="col-sm-6 col-xl-1 form-group">
                {{ form.project }}
            </div>
            <div class="col-sm-6 col-xl-1 form-group">
                {{ form.activity }}
            </div>
            <div class="col-sm-6 col-xl-1 form-group">
                {{ form.start }}
            </div>
            <div class="col-sm-6 col-xl-1 form-group">
                {{ form.end }}
            </div>
            <div class="col-sm-6 col-xl-2 form-group">
                {{ form.date }}
            </div>
            <div class="col-sm-6 col-xl-1 form-group">
                {{ form.duration }}
            </div>
            <div class="col-xl-1 form-group">
                <button type="submit" class="btn btn-outline-success">Добавить</button>
            </div>
        </form>

    </div>

    <div class="container-fluid main-content table-content">
        <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Задача</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row mb-3">
                                <label for="{{ form.title.id_form_label }}" class="col-sm-4 col-form-label">
                                    {{ form.title.label }}
                                </label>
                                <div class="col-sm-8">
                                    {{ form.title }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.project.id_form_label }}" class="col-sm-4 col-form-label">
                                    {{ form.project.label }}
                                </label>
                                <div class="col-sm-8">
                                    {{ form.project }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.activity.id_form_label }}" class="col-sm-4 col-form-label">
                                    {{ form.activity.label }}
                                </label>
                                <div class="col-sm-8">
                                    {{ form.activity }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.start.id_form_label }}" class="col-sm-4 col-form-label">
                                    {{ form.start.label }}
                                </label>
                                <div class="col-sm-8">
                                    {{ form.start }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.end.id_form_label }}" class="col-sm-4 col-form-label">
                                    {{ form.end.label }}
                                </label>
                                <div class="col-sm-8">
                                    {{ form.end }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.date.id_form_label }}" class="col-sm-4 col-form-label">
                                    {{ form.date.label }}
                                </label>
                                <div class="col-sm-8">
                                    {{ form.date }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.duration.id_form_label }}" class="col-sm-4 col-form-label">
                                    {{ form.duration.label }}
                                </label>
                                <div class="col-sm-8">
                                    {{ form.duration }}
                                </div>
                            </div>
                            <input type="hidden" name="task_id" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-action="delete">Удалить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="margin-left: auto;">Закрыть</button>
                        <button type="button" class="btn btn-primary" data-action="patch">Сохранить</button>
                    </div>
                </div>
          </div>
        </div>
        <table class="table tasks-table">
            <thead class="table-light">
                <tr>
                    {% for field in fields %}
                        <th scope="col">{{ field.verbose_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr data-task_id="{{ task.id }}"
                        data-project="{{ task.project }}"
                        data-activity="{{ task.activity }}"
                        data-title="{{ task.title }}"
                        data-start="{{ task.start|time:'H:i' }}"
                        data-end="{{ task.end|time:'H:i' }}"
                        data-date="{{ task.date|date:'Y-m-d' }}"
                        data-duration="{{ task.duration|time:'H:i' }}"
                        data-bs-toggle="modal"
                        data-bs-target="#task-modal"
                    >
                        <td>{{ task.title }}</td>
                        <td>
                            {% if task.project %}
                                {{ task.project }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if task.activity %}
                                {{ task.activity }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ task.start }}</td>
                        <td>{{ task.end }}</td>
                        <td>{{ task.date|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{{ task.duration }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            {{ html_pagination }}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/tasks.js' %}"></script>
{% endblock scripts %}
